.centerImg {
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.city {
  text-align: left;
  color: aqua;
  background-color: black;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlarged-button {
  padding: 12px 24px;
  width: 100%;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.dashboard-background {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.button_price{
  background-color: azure;
  size: 50px;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  left: 150px;
  top: 300px;
}
.button_price:hover {
  background-color: #4c81de; 
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button_price:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.image_price{
  background-color: transparent;
  border-radius: 30px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  position: absolute;
  left: 160px;
  top: 150px;

}
.image_price-container {
  display: flex;
  justify-content: center;
}
.button_priceP{
  position: fixed;
  left: 350px;
  top:  155px;
  border-radius: 30px;
  width: 110px;
  height: 40px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* .origin_field{
  position: fixed;
  left: 100px;  
  top:  120px;
  font-size: 17px;

}
.origin_field_label{
  position: fixed;
  left: 100px;  
  top:  90px;
  font-size: 15px;
}
.destination_field{
  position: fixed;
  left: 100px;  
  top:  220px;
  font-size: 17px;

}
.destination_field_label{
  position: fixed;
  left: 100px;  
  top:  190px;
  font-size: 15px;
} */
.image_senior{
  background-color: transparent;
  border-radius: 30px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  position: absolute;
  left: 560px;
  top: 150px;

}
.image_senior-container{
  display: flex;
  justify-content: center;

}
.button_senior{
  background-color: azure;
  size: 50px;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  left: 550px;
  top: 300px;
}
.button_senior:hover {
  background-color: #4c81de; 
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button_senior:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body{
  font-size: 16px;
}
table {
  margin-left: 10px; /* Add left margin to move the table to the right */
}
.creditcard-button {
  border-radius: 50px;
  font-size: 16px;
  margin-top: -40px;
  margin-right: 4px;
  background-color: #387ad0;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) ;
}
.delete-button {
  border-radius: 50px;
  font-size: 16px;
  border-radius: 50px;
  margin-top: -5px;
  margin-left: 55px;
  font-size: 16px;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) ;

}
.opened-link a {
background-color: #333;
}

.refund-button {
  border-radius: 50px;
  font-size: 16px;
  border-radius: 50px;
  margin-top: -5px;
  margin-left: 55px;
  font-size: 16px;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) ;

}